.container {
    border: 4px solid #40E0D0;
    width: 30%;
    border-radius: 35px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 50%;
    border: 4px solid #20B2AA;
    width: 180px;
}